.nav-bar {
    display: flex;
    background-color: rgb(55, 53, 53);
}


.nav-list{
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: rgb(99, 96, 96)

}

.nav-btn {
    display: none;
}

@media (max-width: 1000px) {
    .nav-btn {
        display: block;
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
       background-color: rgb(55, 53, 53);
        color: white;
        cursor: pointer;
    }
    .nav-list {
        display: none;
    }

    .nav-btn:hover {
    background-color: rgb(99, 96, 96)

    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
               background-color: rgb(55, 53, 53);

    }

    .nav-bar {
        justify-content: space-between;
        
    }
}